
<h2>Forgot password</h2>

  <form {{action 'sendResetEmail' on='submit'}}>

    {{#if signinError}}
      <span class="form-error">{{signinError}}</span>
    {{/if}}
    <div class="form-group has-icon email-group">
      {{input value=email type="email" placeholder="Email"}}
      <span class="input-icon email-icon"></span>
      {{#if errorsText.email}}
        <span class="input-error">{{errorsText.email}}</span>
      {{/if}}
    </div>

    <button type="submit">
      Send reset email
    </button>

  </form>
