
<h2>Forgot password</h2>

  <form {{action 'resetPassword' on='submit'}}>

    {{#if signinError}}
      <span class="form-error">{{signinError}}</span>
    {{/if}}
    <div class="form-group has-icon password-group">
      {{input value=newPassword id="rp-inputPassword" type="password" placeholder="New Password"}}
      <span class="input-icon password-icon"></span>
      {{#if errorsText.newPassword}}
        <span class="input-error">{{errorsText.newPassword}}</span>
      {{/if}}
    </div>

    <button type="submit">
      Reset password
    </button>

  </form>
